@import "tailwindcss";
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

*{
    font-family: "Varela Round", sans-serif;
    font-optical-sizing: auto;
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}